*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: radial-gradient(#3783ae54, transparent);
    overflow-x: hidden;
}
button{
    background-color: rgb(66, 233, 44);
    margin: 60px auto;
    box-shadow: 0px 2px 10px 0px;
    border-radius: 12px;
    height: 40px;
    width: auto;
    padding: 0px 20px;
    font-size: 27px;
    font-family: 'Source Serif Pro', serif;
    display: block;
    font-weight: bold;
}
button:hover{
    background-color: rgb(241, 22, 22);
    transition: .6s;
    color: #fff;
}
#watch {
    width: 235px;
    font-size: 28px;
    font-family: 'digital-clock-font';
    color: #c43030;
}
.navbar-1{ 
    border-radius: 30px;
    padding-top: 5x;
    width: 100%;
    background-color: rgb(219, 190, 253);
}
header{
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.navbar-1 a{
    text-decoration: none;
}
.logo-contant{
    display: flex;
    width: 100%;
    height: 90px;
}
.navbar-1 a .logo-1{
    margin: auto;
    width: 50px;
    margin-left: 120px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px #000);
}
.nav-h1 {
    color: rgb(226, 43, 67);
    font-size: 65px;
    font-family: 'Merriweather', serif;
    filter: drop-shadow(9px 4px 6px #000);
    animation: nav-h1 1s;
}
@keyframes nav-h1{
    0%{
        opacity: 0%;
    }
}
.navbar-1 sub p{
    color: rgb(0 102 7);
    margin-top: -5px;
    text-align: end;
    font-size: 19px;
    animation: navbar-1-sub 3s 3s both;
}
@keyframes navbar-1-sub{
    0%{
        opacity: 0%;
        transform: translateY(-100px);
    }
}
.ul-1 {
    padding: 5px 0px 7px 0px;
    display: flex;
    list-style: none;
}
.ul-1 li{
    font-family: 'Abril Fatface', cursive;
    color: rgb(0, 160, 160);
    text-decoration: none;
}
.ul-1 li:hover{
    color: rgb(238, 1, 33);
    filter: drop-shadow(7px 7px 17px);
    transition: .5s;
}
.container {
    padding-top: 130px;
    filter: drop-shadow(7px 6px 5px rgb(56, 84, 88));
}
.container form{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    border: 4px dashed;
    margin: 30px auto;
    border-radius: 40px;
}
.container h1 {
    font-family: 'Dancing Script', cursive;
    color: darkorange;
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}
.container h2{
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    color: rgb(192, 1, 128);
    margin-bottom: 40px;
}
.container h5{
    margin: 10px auto;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: rgb(33, 65, 170);
}
.container p{
    font-size: 20px;
    color: rgb(110, 35, 0);
    margin-bottom: 20px;
}
.container a{
    text-decoration: none;
    color: rgb(192, 1, 128);

}

.form-control {
    margin: 5px auto;
}
.form-control label {
    padding: 7px;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    color: rgb(33, 65, 170);
}
.form-control input{
    border-radius: 6px;
    padding: 4px 5px;
    border: 2.2px solid black;
    width: 240px;
}
.form-control input:focus{
    outline: 0px;
    border: 2.2px solid rgb(250, 144, 23);
}
.form-control.success input{
    border-color: rgb(32, 211, 47);
}
.form-control.error input{
    border-color: rgb(228, 9, 9);
}
.form-control li {
    display: list-item;
    list-style-type: none;
    color: rgb(192, 1, 128);
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 0px -81px 0px -39px;
}
.form-control small{
    color: rgb(238, 0, 20);
    margin: 5px 35px;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    visibility: hidden;    
}
.form-control.error small{
    visibility: visible;
}



/* ==========================================Form Part Ends================================================================= */


.row{
    width: 100%;
    display: flex;
}

footer{
    width: 100%;
    height: 171px;
    background-color: rgb(181, 209, 193);
    justify-content: space-between;
    border-radius: 25px;
    animation: footers 4s 1s both;
}
@keyframes footers{
    0%{
        opacity: 0%;
        transform: translateY(140px);
    }
    100%{
        opacity: 100%;
        transform: 0;
    }
}
footer ul{
    text-align: center;
    margin: 8px 0px 12px 0px;
    font-size: 20px;
    color: rgb(3, 50, 182);
}
footer a{
    text-decoration: none;
}
footer li{
    list-style-type: none;
    font-size: 13px;
    text-align: center;
    color: rgb(110, 35, 0);

}
footer p{
    text-align: center;
}
footer img{
    display: block;
    padding: 2px;
}
footer .copyright{
    text-align: center;
    color: #d90000;
    font-size: 12px;
    animation: copyright-anim 25s ease-in-out infinite running;

}
@keyframes copyright-anim{
    0%{
        transform: translateX(70%);
    }
    30%{
        transform: translateX(0%);
    }
    70%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-70%);
    }
}

/* --------------------------------Footer Section Ends----------------------------- */

@media (min-width: 601px) and (max-width: 800px){
    .navbar-1{ 
        height: 139px;
    }
    #watch {
        width: 158px;
        font-size: 18px;
    }
    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-1 h1 {
        font-size: 50px;
    }
    .navbar-1 h2 {
        display: block;
        font-size: 1em;
    }
    
    footer {
        height: auto;
    }
    footer p {
        display: block;
        text-align: center;
    }
    footer li{
        text-align: center;
    }
}
@media (min-width: 401px) and (max-width: 600px) {
    .navbar-1{ 
        height: 126px;
        font-size: 17px;
    }
    #watch {
        width: 127px;
        height: 65px;
        font-size: 15px;
    }
    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-1 a .logo-1 {
        margin-left: 3px;
    }
    .navbar-1 sub p {
        text-align: center;
        font-size: 13px;
    }
    .navbar-1 h1 {
        font-size: 45px;
    }
    footer {
        height: auto;
    }
    footer p {
        display: block;
        text-align: center;
    }
    footer li{
        text-align: center;
    }
    footer .copyright {
        font-size: 11px;
    }
    
}
@media (min-width: 101px) and (max-width: 400px) {
    .navbar-1{ 
        overflow: hidden;
        height: auto;
    }
    li {
        text-align: -webkit-match-parent;
    }
    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-1 a .logo-1 {
        margin-left: 1px;
        width: 30px;
    }
    #watch {
        width: 112px;
        font-size: 13px;
    }
    .nav-h1 {
        font-size: 35px;
    }
    .ul-1 {
        margin-top: 5px;
        padding: 5px 0px 12px 0px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        flex-direction: row;
    }
    .navbar-1 sub p {
        margin-top: -6px;
        text-align: end;
        font-size: 13px;
        margin-right: -70px;
    }
    .container {
        padding-top: 150px;
    }
    .container form{
        padding: 10px;
        width: 95%;
        border: 2px dashed;
        margin: 20px auto;
    }
    footer {
        height: auto;
    }
    footer p {
        display: block;
        text-align: center;
    }
    footer li{
        text-align: center;
    }
footer .copyright {
    text-align: center;
    font-size: 11px;
}
}
